{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="{{news.image.url}}" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h2 class="h3-responsive">Latest News: {{news.title}}</h2>
                    <p><a href="{% url 'news_item' news.id %}" class="btn btn-sm btn-outline-primary"><span class="text-white">Read More</span></a></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100 align-content-center" src="{% static 'website/images/UNO-R.jpg' %}" alt="Second slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h2 class="h3-responsive">Upcoming: {{events.title}}</h2>
                    <p>In {{events.date|timeuntil}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="{{outreach.image.url}}" alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Most Recent Outreach: {{outreach.title}}</h3>
                    <p><a href="{% url 'outreach_item' outreach.id %}" class="btn btn-sm btn-outline-primary"><span class="text-white">Read More</span></a></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <span style="font-family: 'Calibri Light'; font-size: large" id="aboutrbgs">
        <div class="container">
            <section class="text-center text-dark">
                <h1 class="py-5 font-weight-bold ">What is Recoletos de Bacolod Graduate School?</h1>
                <p class="px-5 mb-5 pb-3 lead text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam.</p>
                <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-chart-line fa-3x red-text"></i>
                    <h5 class="font-weight-bold mt-3">Analytics</h5>
                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
                    hic.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-book fa-3x cyan-text"></i>
                    <h5 class="font-weight-bold mt-3">Tutorials</h5>
                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
                    hic.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-trophy fa-3x orange-text"></i>
                    <h5 class="font-weight-bold mt-3">Certified</h5>
                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
                    hic.
                    </p>
                </div>
                </div>
            </section>
        </div>
    <div class="card mt-4 card-image" style="background-image: url('{% static "website/images/UNO-R.jpg" %}'); background-attachment:fixed; background-position:center;">

        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div class="container">
                <h1 class="yellow-text">Our Mission</h1>
                <p>
                    Recoletos de Bacolod Graduate School commits to provide excellent education that
                    integrates Gospel values in various professions, offers opportunities for collaborative
                    and independent researches through local, national and international linkages and produce
                    value laden managers and leaders, educators, researchers, medical & other health related professions,
                    social and behavioral practioners.
                </p>
            </div>
        </div>
    </div>

    <div class="text-grey text-center d-flex align-items-center py-5 px-4">
        <div class="container">
            <h1 class="blue-text">Our Goals</h1>
            <p>
                Recoletos de Bacolod Graduate School provides relevant, responsible and stimulating curricula/programs
                for clientele to synergize theories, principles and practices to meet the challenges of a dynamic and changing
                society and delivers higher education services in a manner that is efficient, coordinated and accessible.
            </p>
        </div>
    </div>
    <div class="card mt-4 card-image" style="background-image: url('{% static "website/images/UNO-R_logo.jpg" %}'); background-attachment:fixed; background-position:top;">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div class="container">
                <h1 class="yellow-text"><i class="fa fa-graduation-cap"></i> About The University</h1>
                <h3 class="card-title pt-2"><strong>Be in the know how the university came into being.</strong></h3>
                <p>
                    <a href="http://www.uno-r.edu.ph/about" class="btn btn-lg btn-outline-yellow"><span class="white-text">Read More</span></a>
                </p>
            </div>
        </div>
    </div>
    <div class="text-grey text-center d-flex align-items-center py-5 px-4">
        <div class="container">
            <h1 class="blue-text">Admission Requirements</h1>
            <h3 class="card-title pt-2"><strong>How to apply for the Graduate School Programs.</strong></h3>
            <p>
                <a href="http://www.uno-r.edu.ph/about" class="btn btn-lg btn-outline-blue rounded"><span class="blue-text">Read More</span></a>
            </p>
        </div>
    </div>
    </span>
{% endblock %}