{% extends 'website/base.html' %}
{% load static %}

{% block breadcrumb %}
<div class="container mt-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Upcoming Events</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-lg-8">
        {% for UpcomingEvent in events %}
        <div class="col-lg-12 col-md-8">
          <div class="card mb-3">
            <img src="{{ UpcomingEvent.image.url }}" alt="" class="card-img-top">
            <div class="card-block card-body">
              <h4 class="card-title">
                <a href="">{{UpcomingEvent.title}}</a>
              </h4>
                <p class="card-text">
                    {{ UpcomingEvent.contents }}
                    <br>
                    {{ UpcomingEvent.date}}
                </p>
              <p class="card-text">
                  <small class="text-muted">
                    Posted:{{UpcomingEvent.event_datecreated}}
                  </small>
              </p>
            </div>
          </div>
        </div>
        <br>
        {% endfor %}
          </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            {% if events.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if events.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}
                {% for i in events.paginator.page_range %}
                    {% if events.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if events.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}">Next</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link" >Next</span></li>
                {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
  <br>
</div>
{% endblock %}